<div id="header">
    <div id="logo">
        <a href="/"><img src="images/ReciplaceLogo.jpg" alt="LOGO" height="100" width="400"></a>
    </div>
    <div id="navigation">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/meals">Meals</a>
            </li>
        </ul>
    </div>
</div>