<head>
    <meta charset="UTF-8">
    <title>{{title}} - Meals</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <div id="background">
        <div id="page">
            {{> header}}
            <div id="contents">
                <h1>Meals</h1>
                <ul id="meals">
                    {{#each meals}}
                        <li>
                            <h2>{{this.name}}</h2>
                            <img src="images/{{this.image}}" alt="Img" height="150" width="200">
                        </li>
                    {{/each}}    
                </ul>
            </div>
        </div>
    </div>
</body>